<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Internship Bridge</h1>
  <div> We have {{number}} Employee Users in total now, sign up to be the {{number+1}} </div>


<p><a href="/">Back to Homepace</a></p>

<form method="POST" action="/employeesignin">

<p>Sign Up:<br>
   Name: <input type="text" name="name"> 
   Email: <input type="text" name="email">
   Address: <input type="text" name="address"> 
   Job: <input type="text" name="job">
   Rank: <input type="text" name="rank">
    
<input type="submit" value="Add"></p>
</form>

<form method="GET" action="/searchpersonbyname">
<p>Search person by name:<br>
<input type="text" name="name">  
<input type="submit" value="Search"></p>
</form>

<form method="GET" action="/searchstudentbyschool">
<p>Search student by school: <br>
<input type="text" name="school">  
<input type="submit" value="Search"></p>
</form>


<form method="GET" action="/searchstudentbymajor">
<p>Search student by major: <br>
<input type="text" name="major">  
<input type="submit" value="Search"></p>
</form>

<form method="GET" action="/searchemployeebyjob">
<p>Search employee by job: <br>
<input type="text" name="job">  
<input type="submit" value="Search"></p>
</form>

<form method="GET" action="/searchemployeebycompany">
<p>Search employee by company: <br>
<input type="text" name="company">  
<input type="submit" value="Search"></p>
</form>

<form method="GET" action="/searchcompanybyname">
<p>Search company by name: <br>
<input type="text" name="name">  
<input type="submit" value="Search"></p>
</form>


<form method="POST" action="/employeeholdsa">
<p>Sign for holding a social activity:<br>
Personal ID:<input type="number" name="personid"> 
Time:<input type="text" name="time">
Location:<input type="text" name="location">
Description:<input type="text" name="description">
<input type="submit" value="Sign"></p>
</form>

<form method="GET" action="/checkwhoattendsa">
<p>Check who will attend you social activity: <br>
Your Personal ID: <input type="number" name="personid">  
<input type="submit" value="Check"></p>
</form>


</body>


</html>