<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Internship Bridge</h1>
  <div> We have {{number}} Student Users in total now, sign up to be the {{number+1}} </div>


<p><a href="/">Back to Homepace</a></p>

<form method="POST" action="/studentsignin">

<p>Sign Up:<br>
   Name: <input type="text" name="name"> 
   Email: <input type="text" name="email">
   Address: <input type="text" name="address"> 
   Major: <input type="text" name="major">
   School: <input type="text" name="school">
    
<input type="submit" value="Add"></p>
</form>


<form method="GET" action="/searchpersonbyname">
<p>Search person by name:<br>
<input type="text" name="name">  
<input type="submit" value="Search"></p>
</form>

<form method="GET" action="/searchstudentbyschool">
<p>Search student by school: <br>
<input type="text" name="school">  
<input type="submit" value="Search"></p>
</form>


<form method="GET" action="/searchstudentbymajor">
<p>Search student by major: <br>
<input type="text" name="major">  
<input type="submit" value="Search"></p>
</form>

<form method="GET" action="/searchemployeebyjob">
<p>Search employee by job: <br>
<input type="text" name="job">  
<input type="submit" value="Search"></p>
</form>

<form method="GET" action="/searchemployeebycompany">
<p>Search employee by company: <br>
<input type="text" name="company">  
<input type="submit" value="Search"></p>
</form>


<form method="GET" action="/searchcompanybyname">
<p>Search company by name: <br>
<input type="text" name="name">  
<input type="submit" value="Search"></p>
</form>


<form method="GET" action="/searchpositionbycompany">
<p>Search position by company: <br>
<input type="text" name="company">  
<input type="submit" value="Search"></p>
</form>


<form method="POST" action="/studentapplyposition">
<p>Apply Positon:<br>
Personal ID:<input type="number" name="personid"> 
Position ID:<input type="number" name="positionid">  
<input type="submit" value="Apply"></p>
</form>


<form method="GET" action="/searchsabytime">
<p>Search social activity by time: <br>
start time (YYYYMMDD):
<input type="text" name="starttime"> 
end time (YYYYMMDD):
<input type="text" name="endtime">
<input type="submit" value="Search"></p>
</form>


<form method="POST" action="/studentsignforsa">
<p>Sign for Social Activity:<br>
Personal ID:<input type="number" name="personid"> 
Social Activity ID:<input type="number" name="said">  
<input type="submit" value="Sign"></p>
</form>


<form method="GET" action="/searchinterviewbycompany">
<p>Search Interview by Company Name: <br>
<input type="text" name="company">  
<input type="submit" value="Search"></p>
</form>

<form method="GET" action="/searchinterviewbytime">
<p>Search Interview by time: <br>
start time (YYYYMMDD):
<input type="text" name="starttime"> 
end time (YYYYMMDD):
<input type="text" name="endtime">
<input type="submit" value="Search"></p>
</form>


<form method="POST" action="/studentparticipateinterview">
<p>Sign for Interview:<br>
Personal ID:<input type="number" name="personid"> 
Interview ID:<input type="number" name="iid">  
<input type="submit" value="Sign"></p>
</form>

</body>


</html>
